<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Molire - Studia forograficzne w Krakowie</title>

  <% include favicon %>

  <link rel="canonical" href="http://molirephoto.pl/" />
  <% include meta %>

  <link rel="stylesheet" href="css/main.css"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90173902-1', 'auto');
    ga('send', 'pageview');

  </script>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "http://molirephoto.pl",
      "image": "http://molirephoto.pl/images/logo.png",
      "email": "mailto:info@molirephoto.pl",
      "address": {
          "@type": "PostalAddress",
          "addressLocality": "Kraków",
          "postalCode": "31-135",
          "streetAddress": "ul. Stefana Batorego 22/2, Kraków"
        },
      "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+48 793-764-553",
        "email": "info@molirephoto.pl",
        "contactType": "sales"
      }]
    }
  </script>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "Sesja fotograficzna z okazji dnia zakochanych",
    "image": "http://molirephoto.pl/images/locations/lokacje-8.jpg",
    "description": "Mamy przyjemność zaprosić Was do studia Molire! Dostępna już sceneria walentynkowa! Zapraszamy na sesje z okazji dnia zakochanych. Zapisy już trwają!",
    "mpn": "925872",
    "brand": {
      "@type": "Thing",
      "name": "Molire - Stuio Fotograficzne"
    },
    "offers": {
      "@type": "Offer",
      "priceCurrency": "PLN",
      "price": "350",
      "priceValidUntil": "2017-01-04",
      "itemCondition": "http://schema.org/UsedCondition",
      "availability": "http://schema.org/InStock",
      "seller": {
        "@type": "Organization",
        "name": "Executive Objects"
      }
    }
  }
  </script>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '151691275331404'); // Insert your pixel ID here.
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=151691275331404&ev=PageView&noscript=1"
  /></noscript>
  <!-- DO NOT MODIFY -->
  <!-- End Facebook Pixel Code -->

</head>
