<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<% include ../partials/head %>

<body>
  <div class="container">
    <%- include('../partials/header', {current: current}) %>

    <div class="row">
      <div class="col-md-12">
        <img src="images/locations/lokacje-1.jpg" class="img-responsive center-block thumbnail" alt="Molire - Studio fotograficzne, Krakow, lokacje - pod choinką" />
        <img src="images/locations/lokacje-2.jpg" class="img-responsive center-block thumbnail" alt="Molire - Studio fotograficzne, Krakow, lokacje " />
        <img src="images/locations/lokacje-3.jpg" class="img-responsive center-block thumbnail" alt="Molire - Studio fotograficzne, Krakow, lokacje " />
        <img src="images/locations/lokacje-4.jpg" class="img-responsive center-block thumbnail" alt="Molire - Studio fotograficzne, Krakow, lokacje " />
        <img src="images/locations/lokacje-5.jpg" class="img-responsive center-block thumbnail" alt="Molire - Studio fotograficzne, Krakow, lokacje " />
        <img src="images/locations/lokacje-6.jpg" class="img-responsive center-block thumbnail" alt="Molire - Studio fotograficzne, Krakow, lokacje " />
        <img src="images/locations/lokacje-7.jpg" class="img-responsive center-block thumbnail" alt="Molire - Studio fotograficzne, Kraków, lokacje " />
      </div>
    </div>
  </div>

  <% include ../partials/footer %>
</body>
</html>
