<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<% include ../partials/head %>
<link rel="stylesheet" href="css/jquery-rebox.css"></link>
<link rel="stylesheet" href="css/hover.min.css"></link>
<script src="js/jquery-rebox.js"></script>

<body>
  <div class="container">
    <%- include('../partials/header', {current: current}) %>

    <div class="row">
      <div class="col-md-12">
        <h1>Studio fotograficzne w Krakowie do wynajęcia</h1>

        <p>
          Studio fotograficzne znajduje się na ulicy Stefana Batorego, w samym centrum Krakowa, blisko Starego Miasta i Alej Adama Mickiewicza. Położone w pięknej kamienicy z początku XX. wieku, oferuje niepowtarzalny klimat. Urządzając studio najbardziej nam zależało na tym, aby przyjemnie się tu pracowało i było maksymalnie dostosowane do pracy z dziećmi, sądząc po rzeszy stałych klientów, chyba się udało.
        </p>

        <p>
          Mamy piękne scenerie takie jak: «Czułość», «Pokój dziecięcy», «Toaletka dla maleńkiej ślicznotki», pokój dla sesji noworodkowych i dużo innych.
        </p>
      </div>
    </div>

    <div class="gallery" id="gallery">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hover ehover1">
        <a href="images/locations/lokacje-8.jpg" title="Molire - Studio fotograficzne, Krakow, lokacje walentynki">
          <img class="img-responsive" src="images/locations/lokacje-8.jpg" alt="lokacje walentynki">
          <div class="overlay">
          </div>
        </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hover ehover1">
        <a href="images/locations/lokacje-9.jpg" title="Molire - Studio fotograficzne, Krakow, lokacje walentynki">
          <img class="img-responsive" src="images/locations/lokacje-9.jpg" alt="Molire - lokacje walentynki">
          <div class="overlay">
          </div>
        </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hover ehover1">
        <a href="images/locations/lokacje-1.jpg" title="Molire - Studio fotograficzne, Krakow, lokacje #1">
          <img class="img-responsive" src="images/locations/lokacje-1.jpg" alt="Molire - lokacje choinka">
          <div class="overlay">
          </div>
        </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hover ehover1">
        <a href="images/locations/lokacje-2.jpg" title="Molire - Studio fotograficzne, Krakow, lokacje #2">
          <img class="img-responsive" src="images/locations/lokacje-2.jpg" alt="Molire - lokacje">
          <div class="overlay">
          </div>
        </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hover ehover1">
        <a class="ddd" href="images/locations/lokacje-6.jpg" title="Molire - Studio fotograficzne, Krakow, lokacje #6">
          <img class="img-responsive" src="images/locations/lokacje-6.jpg" alt="Molire - lokacje">
          <div class="overlay">
          </div>
        </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hover ehover1">
        <a href="images/locations/lokacje-5.jpg" title="Molire - Studio fotograficzne, Krakow, lokacje #5">
          <img class="img-responsive" src="images/locations/lokacje-5.jpg" alt="Molire - lokacje">
          <div class="overlay">
          </div>
        </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hover ehover1">
        <a href="images/locations/lokacje-4.jpg" title="Molire - Studio fotograficzne, Krakow, lokacje #4">
          <img class="img-responsive" src="images/locations/lokacje-4.jpg" alt="Molire - lokacje">
          <div class="overlay">
          </div>
        </a>
        </div>
      </div>


      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hover ehover1">
        <a href="images/locations/lokacje-7.jpg" title="Molire - Studio fotograficzne, Krakow, lokacje #7">
          <img class="img-responsive" src="images/locations/lokacje-7.jpg" alt="Molire - lokacje">
          <div class="overlay">
          </div>
        </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hover ehover1">
        <a href="images/locations/lokacje-3.jpg" title="Molire - Studio fotograficzne, Krakow, lokacje #3">
          <img class="img-responsive" src="images/locations/lokacje-3.jpg" alt="Molire - lokacje">
          <div class="overlay">
          </div>
        </a>
        </div>
      </div>

    </div>
  </div>
  <p>&nbsp;</p>

  <% include ../partials/footer %>

  <script>
    $('#gallery').rebox({
      selector: 'a',
      loading: '...',
      cycle: true
    });
  </script>
</body>
</html>
