<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<% include ../partials/head %>

<body>
  <div class="container">
    <%- include('../partials/header', {current: current}) %>

    <div class="row">
      <div class="col-md-12">
        <h1>Hello contacts!</h1>
      </div>
    </div>
  </div>

  <% include ../partials/footer %>
</body>
</html>
