<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<% include ../partials/head %>

<body>
  <div class="container">
    <%- include('../partials/header', {current: current}) %>
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Studio fotograficzne w Krakowie do wynajęcia</h1>
        </div>

        <p>Studio fotograficzne położone w centrum Krakowa to idealne miejsce do pracy – ciche, wygodne i przytulne. Pracuje się tu spokojnie, w dobrej atmosferze i bez pośpiechu.</p>

        <p>Studio znajduje się na ulicy Stefana Batorego, w samym centrum Krakowa, blisko Starego Miasta i Alej Adama Mickiewicza. Położone w pięknej kamienicy z początku XX. wieku, oferuje niepowtarzalny klimat. Urządzając studio najbardziej nam zależało na tym, aby przyjemnie się tu pracowało i było maksymalnie dostosowane do pracy z dziećmi, sądząc po rzeszy stałych klientów, chyba się udało.</p>

        <p>Mamy piękne scenerie takie jak: «Czułość», «Pokój dziecięcy», «Toaletka dla maleńkiej ślicznotki», pokój dla sesji noworodkowych i dużo innych.</p>

        <div class="page-header">
          <h2>Informacja techniczna</h2>
        </div>

        <p>Plan zdjęciowy ma trzy pokoje powierzchnię 100 m2. Na wyposażeniu studia znajduje się:</p>

        <ul>
          <li>4 lampy Bowens Gemini (1 x 750 PRO, 3 x 500 PRO)</li>
          <li>softboxów (100×140) okta (140 cm)</li>
          <li>tła o szer. 2,72 (białe) + inne kolory na zamówienie</li>
          <li>snoot z plastrem miodu</li>
          <li>komplet blend i dyfuzorów (białe, czarne, srebrne, itp.) razem z uchwytami</li>
          <li>wyzwalacz radiowy</li>
          <li>Statyw Bowens BW6618 do lampy - 4szt</li>
          <li>Bowens Reflector GRID</li>
          <li>Bowens Backlite Reflector BW 2560</li>
          <li>Bowens nadajnik BW3967 radiowy PULSAR TX</li>
          <li>Manfrotto ZESTAW statyw 190X Pro z głowicą 3D</li>
          <li>asesorijia dla sesji noworodkowych</li>
          <li>i wiele przydatnych w studio drobiazgów…</li>
        </ul>

        <div class="page-header">
          <h2>Cennik</h2>
        </div>

        <ul>
          <li>godzina wynajęcia to 125zł + VAT</li>
          <li>cały dzień zdjęciowy (do 10 godz.) to 790zł + VAT</li>
        </ul>
      </div>
    </div>

  </div>

  <% include ../partials/footer %>
</body>
</html>
