<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<% include ../partials/head %>

<body>
  <div class="container">
    <%- include('../partials/header', {current: current}) %>

    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h2>Reportaż ślubny</h2>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3 class="text-center">Pakiet L <small>4500zł</small></h3>
                <hr class="pink" />
                <ul>
                  <li>Fotografia obejmująca przygotowania, ceremonię i przyjęcie weselne (do 01:00 w nocy, maksymalna długość dnia roboczego - 14 godzin)</li>
                  <li>Około 700 zdjęć wykadrowanych I poddanych autorskiej obróbce</li>
                  <li>Praca fotografa i asystenta (w miarę potrzeby)</li>
                  <li>Mini plener ślubny w dniu wesela</li>
                  <li>Kopia wszystkich zdjęć w formie gotowej do publikacji w Internecie</li>
                  <li>On-line galeria ślubnego reportażu</li>
                  <li>Wywołanie 50 zdjęć (rozmiar: 15x21)</li>
                  <li>Fotoksiążka klasy premium w twardej oprawie (30x30) 40 stron</li>
                  <li>Wszystkie materiały w specjalnie zaprojektowanym opakowaniu na pendrive</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3 class="text-center">Pakiet M <small>4300zł</small></h3>
                <hr class="pink" />
                <ul>
                  <li>Fotografia obejmująca przygotowania, ceremonię i 2 godziny przyjęcia weselnego</li>
                  <li>Około 700 zdjęć wykadrowanych I poddanych autorskiej obróbce</li>
                  <li>Praca fotografa i asystenta (w miarę potrzeby)</li>
                  <li>Mini plener ślubny w dniu wesela</li>
                  <li>Kopia wszystkich zdjęć w formie gotowej do publikacji w Internecie</li>
                  <li>On-line galeria ślubnego reportażu</li>
                  <li>Wywołanie 50 zdjęć (rozmiar: 15x21)</li>
                  <li>Fotoksiążka klasy premium w twardej oprawie (30x30) 40 stron</li>
                  <li>Wszystkie materiały w specjalnie zaprojektowanym opakowaniu na pendrive</li>
                </ul>
                <br />
                <br />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3 class="text-center">Pakiet S <small>4500zł</small></h3>
                <hr class="pink" />
                <ul>
                  <li>Fotografia obejmująca ceremonię i 2-3 godziny fotografowania pod czas przygotowania lub przyjęcia weselnego</li>
                  <li>Około 700 zdjęć wykadrowanych I poddanych autorskiej obróbce</li>
                  <li>Praca fotografa i asystenta (w miarę potrzeby)</li>
                  <li>Mini plener ślubny w dniu wesela</li>
                  <li>Kopia wszystkich zdjęć w formie gotowej do publikacji w Internecie</li>
                  <li>On-line galeria ślubnego reportażu</li>
                  <li>Wywołanie 50 zdjęć (rozmiar: 15x21)</li>
                  <li>Fotoksiążka klasy premium w twardej oprawie (30x30) 40 stron</li>
                  <li>Wszystkie materiały w specjalnie zaprojektowanym opakowaniu na pendrive</li>
                </ul>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portret -->
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h2>Sesje portretowe</h2>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3 class="text-center">Sesja indywidualna <small>600zł</small></h3>
                <hr class="pink" />
                <ul>
                  <li>Praca fotografa i asystenta (w miarę potrzeby)</li>
                  <li>Około 2 godzin fotografowania</li>
                  <li>Pomoc w wyborze i wykreowaniu wizerunku oraz pomysłu na sesję</li>
                  <li>Wszystkie udane zdjęcia wykadrowane i poddane autorskiej obróbce (około 100 zdjęć)</li>
                  <li>Kopia wszystkich zdjęć w formie gotowej do publikacji w Internecie</li>
                  <li>On-line galeria</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3 class="text-center">Sesja "Love-Story" <small>650zł</small></h3>
                <hr class="pink" />
                <ul>
                  <li>Praca fotografa i asystenta (w miarę potrzeby)</li>
                  <li>Około 2 godzin fotografowania</li>
                  <li>Pomoc w wyborze i wykreowaniu wizerunku oraz pomysłu na sesję</li>
                  <li>Wszystkie udane zdjęcia wykadrowane i poddane autorskiej obróbce (około 100 zdjęć)</li>
                  <li>Kopia wszystkich zdjęć w formie gotowej do publikacji w Internecie</li>
                  <li>On-line galeria</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3 class="text-center">Sesja Rodzinna <small>700zł</small></h3>
                <hr class="pink" />
                <ul>
                  <li>Praca fotografa i asystenta (w miarę potrzeby)</li>
                  <li>Około 2 godzin fotografowania</li>
                  <li>Pomoc w wyborze i wykreowaniu wizerunku oraz pomysłu na sesję</li>
                  <li>Wszystkie udane zdjęcia wykadrowane i poddane autorskiej obróbce (około 100 zdjęć)</li>
                  <li>Kopia wszystkich zdjęć w formie gotowej do publikacji w Internecie</li>
                  <li>On-line galeria</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- INNE  -->
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h2>Inne</h2>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
              <div class="caption">
                <h3 class="text-center">Reportaż <small>250zł za godzinę</small></h3>
                <hr class="pink" />
                <ul>
                  <li>Fotograf i asystent (w miarę potrzeby)</li>
                  <li>Korekta koloru wszystkich zdjęć i retusz w wybranym stylu</li>
                  <li>Kopia wszystkich zdjęć, gotowych do publikacji w internecie</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
              <div class="caption">
                <h3 class="text-center">Sesje komercyjne</h3>
                <hr class="pink" />
                <p class="lead text-center">Wycena indywidualna</p>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Ważna informacja, prosimy o uwagę!</h3>
          </div>
          <div class="panel-body">
            Zamówienie sesji  zdjęciowej w Studiu Molire oznacza wyrażenie zgody na opublikowanie zdjęć w naszym portfolio. Jeśli nie chcesz, by zamówione zdjęcia nie były udostępniane publicznie, można zamówić sesję poufną, której koszt jest o 50% wyższy od standardowej ceny.
          </div>
        </div>
      </div>
    </div>

  </div>

  <% include ../partials/footer %>
</body>
</html>
