 h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #c6c6c6;
    margin:0;
    padding:0;
  }
  .intro p{
    color: #c6c6c6;
  }

  /* Centered texts in each section
  * --------------------------------------- */
  .section{
    text-align:center;
  }

  /* Fixed header and footer.
  * --------------------------------------- */
  #header, #footer{
    position:fixed;
    height: 50px;
    display:block;
    width: 100%;
    background: #333;
    z-index:9;
    text-align:center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
  }

  #header{
    top:0px;
  }
  #footer{
    bottom:0px;
  }


  /* Bottom menu
  * --------------------------------------- */
  #infoMenu {
    bottom: 80px;
  }
  #infoMenu li a {
    color: #c6c6c6;
    z-index: 999;
  }